<hr />
<div class="social-media">
    <div>
        <a href="https://www.facebook.com/TulsaDevelopersAssociation/">
            <img src="../assets/f_logo_RGB-Blue_58.png" alt="Follow us on Facebook">
        </a>
        <a href="https://twitter.com/tulsadnug">
            <img src="../assets/Twitter_Logo_WhiteOnBlue.png"
                 alt="Follow us on Twitter">
        </a>
        <a href="https://www.linkedin.com/groups/3398/">
            <img src="../assets/LI-In-Bug.png" alt="Follow us on LinkedIn">
        </a>
    </div>
</div>
@functions {

}