<div class="social-media">
    <div>
        <div class="fb-like" 
             data-href="https://www.facebook.com/TulsaDevelopersAssociation/" 
             data-width="" 
             data-layout="button" 
             data-action="like" 
             data-size="large" 
             data-show-faces="false" 
             data-share="false">
        </div>

        <a href="https://twitter.com/tulsadnug">
            <img class="_6voz _7f2d img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEUoqOA1reJDs+RQuOZevuhrw+p5yeyGzu6U1PCh2fKv3/O85PXK6vfX7/nl9Pvy+v3///+BqiyOAAABGUlEQVQYGe3BWXaEMAwEwLYtjDEC9f1Pm8mbLJMgL/kOVbjdbv+PRAztAT7ZjQ+6BjwJPMIKT1R+sgVAWM8NnkJWXCXji60oaQGeSvII+CUZLzJcyocj4iflRQ65wqF8ZwteCS/OgxQ4lE9bwLdKT4ZH+cEyvpx0ZLgKv5wZH3hlCb7EF+ca8Y5XghblD8e2JBy8ELRE4wxBgyAZJwga1OrOCRENO+egZeUURUswztjQVDhD0HZw7ERHUA5t6CrGgYieKMtu7KnoEo5E9Cn7CgaSsecMGEnGjoSxdLApY0o+6NswbaOjYlZSOgomLUqHZfSJSIgiZadLIwbyyTbLmJAP+s4SMCeuyt+sLvgTKVWNT7oXwe12m/IG1yhBnYBkwzYAAAAASUVORK5CYII="
                 alt="Follow us on Twitter" style="width:24px; height:auto; display:inline; margin-right:20px;">
        </a>
        <a href="https://www.linkedin.com/groups/3398/">
            <img class="_6voz _7f2d img" src="https://scontent-dfw5-2.xx.fbcdn.net/v/t39.2365-6/34699185_2298784973681943_1346263288547115008_n.png?_nc_cat=1&amp;_nc_ht=scontent-dfw5-2.xx&amp;oh=68acb7f152a80c4ddea6c8f8b841279f&amp;oe=5D4B7CDD" alt="Follow us on LinkedIn" style="width:auto; height:24px; display:inline; margin-right:15px">
        </a>
    </div>
</div>
@functions {

}