<div class="social-media">
    <div>
        <a href="https://www.facebook.com/TulsaDevelopersAssociation/">
            <img class="_6voz _7f2d img"
                 src="https://scontent-dfw5-2.xx.fbcdn.net/v/t39.2365-6/34929128_2542370199321677_3462617962773479424_n.png?_nc_cat=1&amp;_nc_ht=scontent-dfw5-2.xx&amp;oh=18873e608fd8fd3b502ddcee3de5cb38&amp;oe=5D4FD42E"
                 alt="Follow us on Facebook"
                 style="width:24px; height:auto; display:inline; margin-right:20px;">
        </a>
        <a href="https://twitter.com/tulsadnug">
            <img class="_6voz _7f2d img" src="https://scontent-dfw5-2.xx.fbcdn.net/v/t39.2365-6/34747737_1440020432811296_5160914217057910784_n.png?_nc_cat=1&amp;_nc_ht=scontent-dfw5-2.xx&amp;oh=729cc50558795b650e3a99eb69fe2825&amp;oe=5D3C82CE"
                 alt="Follow us on Twitter" style="width:24px; height:auto; display:inline; margin-right:20px;">
        </a>
        <a href="https://www.linkedin.com/groups/3398/">
            <img class="_6voz _7f2d img" src="https://scontent-dfw5-2.xx.fbcdn.net/v/t39.2365-6/34699185_2298784973681943_1346263288547115008_n.png?_nc_cat=1&amp;_nc_ht=scontent-dfw5-2.xx&amp;oh=68acb7f152a80c4ddea6c8f8b841279f&amp;oe=5D4B7CDD" alt="Follow us on LinkedIn" style="width:auto; height:24px; display:inline; margin-right:15px">
        </a>
    </div>
</div>
@functions {

}