@inherits LayoutComponentBase

<div class="background-image">

</div>
<div class="main-wrapper">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
        <ContactUs></ContactUs>
    </div>
</div>

