@using tulsa_dnug_website.core.Models
@using tulsa_dnug_website.infrastructure.Services

@inject SponsorInfoService sponsorInfoService;

<div class="sponsor-main">
    <h3>Sponsors</h3>
    <ul class="sponsor-container">
        @foreach (var sponsor in sponsorInfoList.OrderBy(x => x.Position))
        {
            @if (sponsor.ShowInfo == ShowInfoEnum.Name)
            {
                <li>@sponsor.Name</li>
            }
            else if (sponsor.ShowInfo == ShowInfoEnum.Logo)
            {
                <li>
                    <img src="@sponsor.Logo" class="sponsor-image" />
                </li>
            }
            else
            {
                <li>
                    <img src="@sponsor.Logo" class="sponsor-image" />
                    <br />
                    @sponsor.Name
                </li>
            }
        }
    </ul>
</div>

@code {
    IEnumerable<SponsorInfo> sponsorInfoList;
    protected override async Task OnInitializedAsync()
    {
        sponsorInfoList = await sponsorInfoService.GetSponsorsInfoAsync();
    }
}
