@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('Shared/MeetingInfo.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.mantra-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mantra {
    text-align: center;
    font-size: 2em;
    max-width: 35em;
    margin-bottom: 0;
}

.sub-mantra {
    text-align: center;
    font-size: 1.3em;
    max-width: 35em;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

/*.background-image {
    background-image: url('../assets/DNUGLogo.png');
    background-size: 100vh;
    background-repeat: no-repeat;
    opacity: 0.2;
    content: "";
    top: 0;
    left: 250px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}*/

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
}

.social-media {
    height: 10vh;
    background-color: black;
    padding-left: 250px; 
}

    .social-media div {
        padding-top: 2.5rem;
        text-align: center;
    }

    .social-media a:hover {
        text-decoration: none;
    }

footer {
    display: flex;
    flex-direction:column;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        
    }

    .sidebar {
        width: 250px;
        height: 90vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }   

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    .main-wrapper {
        display: flex;
        flex-direction: row;
    }
}
