@page "/"
    <div class="mantra-container">
        <p class="mantra">
            Welcome to the home of the Tulsa .NET User Group!
        </p>
        <p class="sub-mantra">
            We're a community dedicated to the
            empowerment and betterment of all software
            developers.
        </p>
    </div>
<br />
<MeetingInfo></MeetingInfo>
<br />
<Sponsors></Sponsors>
