.sponsor-main {
    text-align: center;
}
.sponsor-container{
    list-style: none;    
}

.sponsor-container li {
    display: inline-block;
    vertical-align:middle;
    padding: 0.5em 2em;
}

.sponsor-image{
    width: 15em;
    max-height:10em;
    object-fit: contain;
}
